html body {
	font-family: 'Open Sans', sans-serif;/*	background-color: #0d0d0d;*/
}
* {
	font-family: 'Open Sans', sans-serif;
}
/*first images*/
.first-images {
	text-align: center;
}
.first-images>img {
	width: 100%;
}
/*first images*/
/*my-blok-first*/
.my-blok-first {
	margin-top: 5px;
}
.relative {
	position: relative;
}
.absolute {
	height: 100px;
	position: absolute;
	bottom: 0;
	background-color: #00000070;
	overflow: overley;
}
.absolute>p {
	margin: 5px;
	color: #fff;
	font-weight: 300;
}
.absolute a {
	color: #FFFFFF;
	font-weight: 300;
}
/*my-blok-first*/
/**/
.my-row {
	flex-direction: column;
}
.menu {
	background-color: #fff;
}
.menu ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	display: flex;
	flex-direction: column;
}
.menu ul li {
	display: flex;
	margin: 5px;
}
.menu ul li a {
	flex-grow: 1;
	color: #000;
	font-weight: 400;
}
.menu ul li a:hover {
	color: #fff;
	background-color: #000;
	text-decoration: none;
}
.support {
}
.support form {
}
.support form input {
	border: 0;
	width: 100%;
	height: 40px;
	font-weight: 400;
	background-color: #fff;
}
.support form input:hover {
	background-color: #b2b2b2;
	color: red;
	cursor: pointer;
}

@media (min-width: 768px) {
.menu ul {
	height: 40px;
	flex-direction: row;
}
.menu ul li {
	text-align: center;
	flex-grow: 1;
}
}

@media (min-width: 992px) {
.my-row {
	flex-direction: row;
}
.menu {
	flex-grow: 1;
}
.support form {
	margin-left: 3px;
}
.support form input {
	width: 180px;
	height: 40px;
}
}
/**/
/**/
.my-row-2>div:nth-of-type(2), .my-row-2>div:nth-of-type(3), .my-row-2>ul {
	margin: 5px;
	border-bottom: solid 1px #979797;
}
.main-block-header h1 {
	/*	color: #FFFFFF;*/
	order: 0;
}
.information {
	padding: 0;
	list-style-type: none;
	order: 2;
}
.information li div {
	display: flex;
	align-items: center;
}
.information li div img {
	width: 15px;
	height: 15px;
	margin: 3px;
}
.time {
	align-self: flex-end;
	order: 1;
}
.time div {
	display: flex;
	align-items: center;
}
.time div img {
	margin: 3px;
	width: 16px;
	height: 16px;
}
.social-networks {
	display: flex;
	justify-content: space-around;
	order: 3;
}
.social-networks a {
	color: #000000;
}
.social-networks a:hover {
	color: #FFFFFF;
	background-color: #000000
}

@media (min-width: 576px) {
.my-row-2 {
	flex-direction: row;
}
.main-block-header {
	flex-grow: 1;
}
.information {
	display: flex;
	align-items: center;
}
.time {
	align-self: center;
}
.social-networks {
	flex-grow: 1;
}
}

@media (min-width: 768px) {
.my-row-2 {
	align-items: center;
}
.main-blok-header, .information, .time, .social-networks {
	order: 0;
}
}
/**/

/**/
.login {
	display: flex;
	flex-direction: column;
	background-color: #B95A5A;
}
.login h5 {
	margin: 5px;
	font-size: 1.5em;
}
.login>form {
	margin: 5px;
	display: flex;
	flex-direction: column;
}
.login>form>div:nth-of-type(1){
	display: flex;
	flex-direction: column;
}
.login>form>div:nth-of-type(1)>input {
	margin: 3px;
	border: solid 1px #000000;
	border-radius: 15px;
	padding: 5px;
	min-width: 120px;
}
.login>form>div:nth-of-type(1)>input:nth-of-type(3) {
	min-width: 45px;
	color: #FFFFFF;
	background-color: #000000;
}
.login>form>div:nth-of-type(1)>input:nth-of-type(3):hover {
	color: red;
}
.login>div {
	border-top: solid 1px #000000;
	margin: 5px;
	display: flex;
	justify-content: space-between;
}
.login>div>a {
	font-size: 0.7em;
	border-bottom: solid 1px rgb(0, 0, 0, 0);
}
.login>div>a:hover {
	border-bottom: solid 1px #000000;
}
/**/

/*footer*/
.my-row-3 {
	justify-content: center;
	min-height: 30px;
	align-items: center;
}
.basement-info {
	width: 150px;
	display: flex;
	justify-content: space-between;
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.basement-info li a {
	color: #000000;
}
.basement-info li a:hover {
	background-color: #000000;
	color: #FFFFFF;
	text-decoration: none;
}

@media (min-width: 576px) {
.my-row-3 {
	justify-content: space-between;
}
}
/*footer*/
